pkgbase = pinchtab-bin
	pkgdesc = High-performance browser automation bridge and multi-instance orchestrator with advanced stealth injection and real-time dashboard.
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/pinchtab/pinchtab
	arch = x86_64
	license = MIT
	depends = glibc
	provides = pinchtab
	conflicts = pinchtab
	source = pinchtab-linux-amd64::https://github.com/pinchtab/pinchtab/releases/download/v0.15.1/pinchtab-linux-amd64
	source = LICENSE::https://raw.githubusercontent.com/pinchtab/pinchtab/fe09a076da94ecdbda1967d800b1ba9b6e925d55/LICENSE
	sha256sums = 3f5ceaaf172e8c8c0276a0c8efa4009cb2484d60422e044a5fb21cf0577f893c
	sha256sums = 8e526b04f1f02203eebfd55aead0657a7ae87e0591cf8a44fbee19441aa0f116

pkgname = pinchtab-bin
